html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,*::after,
*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;

}
header .logo{
    color: white;
    text-align: center;
    margin: 0;
    padding: 1rem;
    
}