html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,*::after,
*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 10vh;
    background: #1e130c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #799299, hsl(218, 67%, 15%));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #799299, hsl(218, 67%, 15%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: center;

}
.header .logo{
    color: white;
    text-align: center;
    margin: 0;
    
}